body {
    background-color: white;
    color: black;
}

body {
  background-color: lightyellow !important;
}

h1 {
    /* Titel überall gleich gestalten */
    font-weight: bold;
    /* macht Titel fett */
    color: #6d4c41;
    letter-spacing: 2px;
    /* Abstand zwischen Buchstaben */
    margin-bottom: 0.7em;
    margin-top: 0.7em;
}

p,
.intro-text {
    /* .intro-text = Introtext überall gleich gestalten */
    line-height: 1.6;
    /* macht Zeilenabstand */
    margin-bottom: 1.5em;
}

.my-btn {
    border-radius: 20px;
    font-weight: bold;
    padding: 0.7em 2em;
    /* Mehr Abstand */
    border: none;
}

.backbt-container {
    display: flex;
    justify-content: right;
    margin-top: 1em;
    margin-bottom: 1em;
}

.title a {
    /* Passt Link an */
    text-decoration: none;
    color: black;
    font-size: 1.1em;
  }
